/* 
 * this CSS is not part of the widget, it is here just as an example of the demo page styling.... 
 * 
 * Don't copy this one, roll your own. One of the key things about the widget is that 
 * it allows you to do your own styling!
 *
 */
td:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
}
input.error {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;	
	outline: thin auto red;
}
input:not('.datepicker') {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
	outline-offset: 0px;
	border: none;
}
select, .datepicker{
	width: 100%;
	height: 100%;
	border: 0;
}

.select, .date{
	padding: 0 !important;
}
	
.data th{
	padding-top: 15px !important;
	font-size: 20px;
	font-size: 15px;
}

.data td:not('.date'){
	font-size: 15px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.date input{
	padding-top: 0px;
	padding-bottom: 0px;
}

.transparentBorder{
	background-color: white !important;
	border-color: transparent !important;
}
th.transparentBorder{
	border-top-width: 1px !important;
}

.data th:not(.transparentBorder), .data td:not(.transparentBorder){
	border:1px solid #ddd !important;
}

.data th{
	background-color: rgba(211, 211, 211, 0.42);
}

div.col-md-11, .col-md-1{
	padding-left: 0px;
	padding-right: 0px;
}

#borderless td, #borderless th{
    border-color: transparent !important;
}

#borderlessHeader{
	border-color: transparent !important;
}

.actions span{
	opacity: 0.7;
}

.actions span:hover {opacity:1.0;} 

.actions a{
	color: rgb(92, 91, 91);
}

.createButton{
	text-align: right;
}

.row{
	margin-top: 25px;
	margin-bottom: 10px;
}

.rightAligned{
	text-align: right;
	padding-top:10px;
}

.hidden{
	display: none;
}

.attribute{
	color:#428bca;
}